{% extends 'base.html' %}
<!--Create Page-->
{% block page_content %}
    <section class="createPage">

        <form method="POST" action="{% url 'add album page' %}">
            <fieldset>
                <legend>Add Album</legend>
                <div class="container">

                    {% csrf_token %}
                    {{ form }}

                    <!-- Button for Adding Album -->
                    <button class="add-album" type="submit">Add New Album</button>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}
